@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.side-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.blinking-marker {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

